@use "../abstracts/_variables" as var

.header
    background-color: var.$grey
    border-radius: 0.5rem
    padding: 0.75rem
    display: flex
    justify-content: space-between

    &__back-home
        width: 2rem
        height: 2rem
        border-radius: 100%
        background-color: var.$light-grey
        display: flex
        justify-content: center
        align-items: center

    &__icon
        width: 1rem
        height: 1rem
