@use "../abstracts/_variables" as var
@use "../abstracts/_mixins" as mixin

.button
    background-color: var.$light-grey
    border-radius: 0.5rem
    color: var.$white
    padding: 0.5rem 0.75rem
    display: inline-flex
    align-items: center
    column-gap: 0.5rem

    &--secondary
        @extend .button
        border: solid 2px var.$white
        background-color: transparent

    &__icon
        width: 1.25rem
        height: 1.25rem

    &__label
        @include mixin.font(0.75rem)
